<!-- This serves as the footer and closes the header.ejs html -->
    <div class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class ="foot-text">Accomodate - Created by Connor Matthews</p>
                </div>
            </div>
        </div>
    </div>
    
    </body>
</html>