<!-- This serves as the header -->
<!-- Also implements bootstrap 4.4.1 -->
<!DOCTYPE html>

<html>
    <head>
        <title>Accomodate</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    </head>
    <body>
