<!-- This serves as the header -->
<!-- Also implements bootstrap 4.4.1 -->
<!DOCTYPE html>

<html>
    <head>
        <title>Accomodate</title>
        <p>This is header</p>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
