<!-- Adds header to page -->
<%- include("partials/header") %>

<h1>Accomodations Page</h1>

<a href="/accomodations/new">Add new Accomodation</a>

<!-- Allows the accomodations specified in app.js to be displayed -->
<% accomodations.forEach(function(accomodations){ %>
    <div>
        <h4><%= accomodations.name %></h4>
        <img src="<%= accomodations.image %>">
    </div>
<% }) %>

<!-- Adds footer to page -->
<%- include("partials/footer") %>